# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# PHP
vendor/
composer.lock

# Docker
*.env
.docker/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp 